@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
body {
  margin: 0;
  padding: 0;
}

.app {
  border: 1px solid black;
}

$mainColor: lightgray;
/*navbar*/
.navbar-container {
  background-color: $mainColor;
  font-size: 1.5rem;
  font-family: "Hachi Maru Pop", cursive;
  .nav-top {
    padding-bottom: 1rem;
  }
  .nav-center,
  .nav-top {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      width: 5rem;
      height: auto;
      align-self: center;
    }
    a {
      text-decoration: none;
      transition: 1s;
      &:hover {
        color: green;
        text-shadow: 0 0 15px lightgreen;
      }
    }
  }
  .slide-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .logo {
      width: 20rem;
      height: auto;
      align-self: center;
    }
    .each-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
    }
    .each-slide > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
    }

    .each-slide span {
      padding: 20px;
      font-size: 20px;
      background: #efefef;
    }
    .slide {
      width: 20rem;
      height: 20rem;
      background-size: 20rem;
      background-repeat: no-repeat;
      text-align: center;
    }
    .slide1 {
      background-image: url("./images/slideshow/SAM_4778.JPG");
      span {
        font-weight: 900;
      }
    }
    .slide2 {
      background-image: url("./images/slideshow/SAM_4779.JPG");
      span {
        font-weight: 900;
      }
    }
    .slide3 {
      background-image: url("./images/slideshow/SAM_4780.JPG");
      span {
        font-weight: 900;
      }
    }
  }
}

/*end navbar*/

/*home*/
.container {
  width: auto;
  height: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  margin: 5rem;
  font-size: 1.8rem;
}
/*end home*/

/*footer*/
.footer-container {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background: $mainColor;
  .social-container {
    padding: 1rem;
    a.social {
      margin: 0 1rem;
      transition: transform 250ms;
      display: inline-block;
      &.social:hover {
        transform: translateY(-4px);
      }
      &.youtube {
        color: #eb3223;
      }

      &.facebook {
        color: #4968ad;
      }

      &.twitter {
        color: #49a1eb;
      }

      &.instagram {
        color: black;
      }
    }
  }
}
/*end footer*/
